
<%@ page import="org.eos.research.Skill" %>
<!DOCTYPE html>
<html>
	<head>
		<meta name="layout" content="main">
		<g:set var="entityName" value="${message(code: 'skill.label', default: 'Skill')}" />
		<title><g:message code="default.show.label" args="[entityName]" /></title>
	</head>
	<body>
		<a href="#show-skill" class="skip" tabindex="-1"><g:message code="default.link.skip.label" default="Skip to content&hellip;"/></a>
		<div class="nav" role="navigation">
			<ul>
				<li><a class="home" href="${createLink(uri: '/')}"><g:message code="default.home.label"/></a></li>
				<li><g:link class="list" action="index"><g:message code="default.list.label" args="[entityName]" /></g:link></li>
				<li><g:link class="create" action="create"><g:message code="default.new.label" args="[entityName]" /></g:link></li>
			</ul>
		</div>
		<div id="show-skill" class="content scaffold-show" role="main">
			<h1><g:message code="default.show.label" args="[entityName]" /></h1>
			<g:if test="${flash.message}">
			<div class="message" role="status">${flash.message}</div>
			</g:if>
			<ol class="property-list skill">
			
				<g:if test="${skillInstance?.level}">
				<li class="fieldcontain">
					<span id="level-label" class="property-label"><g:message code="skill.level.label" default="Level" /></span>
					
						<span class="property-value" aria-labelledby="level-label"><g:fieldValue bean="${skillInstance}" field="level"/></span>
					
				</li>
				</g:if>
			
				<g:if test="${skillInstance?.type}">
				<li class="fieldcontain">
					<span id="type-label" class="property-label"><g:message code="skill.type.label" default="Type" /></span>
					
						<span class="property-value" aria-labelledby="type-label"><g:fieldValue bean="${skillInstance}" field="type"/></span>
					
				</li>
				</g:if>
			
				<g:if test="${skillInstance?.usedOnEvent}">
				<li class="fieldcontain">
					<span id="usedOnEvent-label" class="property-label"><g:message code="skill.usedOnEvent.label" default="Used On Event" /></span>
					
						<span class="property-value" aria-labelledby="usedOnEvent-label"><g:formatBoolean boolean="${skillInstance?.usedOnEvent}" /></span>
					
				</li>
				</g:if>
			
			</ol>
			<g:form url="[resource:skillInstance, action:'delete']" method="DELETE">
				<fieldset class="buttons">
					<g:link class="edit" action="edit" resource="${skillInstance}"><g:message code="default.button.edit.label" default="Edit" /></g:link>
					<g:actionSubmit class="delete" action="delete" value="${message(code: 'default.button.delete.label', default: 'Delete')}" onclick="return confirm('${message(code: 'default.button.delete.confirm.message', default: 'Are you sure?')}');" />
				</fieldset>
			</g:form>
		</div>
	</body>
</html>
