.explored {
    stroke: white;
    fill: #999999;
    stroke-width: 2;
    rx: 4;
    ry: 4;
}

.unexplored {
    stroke: #999999;
    fill: #444444;
    stroke-width: 2;
    rx: 0;
    ry: 0;
}

.firewall-explored {
    stroke: #668866;
    fill: #999999;
    stroke-width: 1;
    rx: -1;
    ry: -1;
}

line.explored {
    stroke: white;
    stroke-width: 2;
}

line.unexplored {
    stroke: #bbbbbb;
    stroke-width: 2;
    stroke-dasharray: 5, 5;
}

text {
    font-family: monospace;
    /*font-family: FreeMono, monospace; this don't work on Android */
    color: #aaa;
    font-size: 12px;
    line-height: 14px;
}